.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  // background: transparent;

  // background-image: url("https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
  .header {
    position: absolute;
    top: 1rem;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    &__wrap {
      padding: 10px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      width: 60vw;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 2rem;
      & li {
        font-size: 18px;
        cursor: pointer;

        & a {
          display: grid;
          place-items: center;
          overflow: hidden;
          position: relative;
          & span {
            transition: transform 0.4s ease-in-out;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: currentColor;
            transform: scale3d(0, 1, 1);
            transform-origin: right;
            transition: transform 0.4s ease-in-out;
          }
          &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            height: 100%;
            transition: transform 0.4s ease-in-out;

            transform: translate3d(150%, 0, 0);
          }
          &:hover::before {
            transform: scale3d(1, 1, 1);
            transform-origin: left;
          }
          &:hover::after {
            transform: translate3d(0, 0, 0);
          }
          &:hover span {
            transform: translate3d(-150%, 0, 0);
          }
        }
      }
    }
    @media (max-width: 1200px) {
      &__wrap {
        width: 90vw;
      }
    }
    @media (max-width: 800px) {
      &__sm {
        display: none;
      }
    }
  }
  .socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
  }

  .scrollDown {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    &__wheel {
      height: 42px;
      width: 24px;
      border-radius: 10px;
      border: 2px solid white;
      &--inner {
        position: absolute;
        left: 10px;
        margin-top: 5px;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        animation: movingwheel 0.5s linear infinite;
        @keyframes movingwheel {
          0% {
            top: 1px;
          }
          25% {
            top: 2px;
          }
          50% {
            top: 3px;
          }
          75% {
            top: 2px;
          }
          100% {
            top: 1px;
          }
        }
      }
    }
    &__arrows {
      display: flex;
      flex-direction: column;
      align-items: center;

      .scrollDown__arrow {
        width: 15px;
        height: 15px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        animation: scrollAnim 1s infinite;
        animation-direction: alternate;
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        @keyframes scrollAnim {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  .intro {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 100%;
    height: 60%;
    z-index: 2;
    color: #fff;

    & h4 {
      font-size: 17px;
    }
    & h1 {
      font-size: 40px;
      width: 90%;
    }
    @media (max-width: 550px) {
      & h1 {
        font-size: 25px;
      }
      & h4 {
        font-size: 25px;
      }
    }
  }
}

.coolButton {
  position: relative;
  border: none;
  cursor: pointer;
  width: 175px;
  height: 120px;
  background: none;
  color: #fff;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & span {
    mix-blend-mode: difference;
  }
  &::before {
    content: "";
    background: #fff;

    clip-path: path(
      "M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z"
    );
    transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  }
  &:hover::before {
    clip-path: path(
      "M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"
    );
  }
  &::after {
    content: "";
    height: 85%;
    width: 95%;
    top: 6px;
    border: 1px solid white;
    border-radius: 58% 42% 45% / 56% 45% 55% 44%;
    transform: rotate(-20deg);
    transition: tranform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
  }
  &:hover::after {
    transform: translate3d(0, -5px, 0);
  }
  @media (max-width: 800px) {
    & {
      transform: translate3d(0.7, 0.7, 0.7);
    }
  }
}

.coloredIcon {
  color: #fff;
  font-size: 35px;

  &:hover {
    animation: coloredIconAnimation 0.2s infinite;
  }

  @keyframes coloredIconAnimation {
    0% {
      // 2196f3
      text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
    }
    25% {
      text-shadow: 5px -6px #f44336, -5px 4px #2196f3;
    }
    50% {
      text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
    }
    75% {
      text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
    }
    100% {
      text-shadow: -5px 0 #f44336, 5px, -4px #2196f3;
    }
  }
}
