.projects {
  max-width: 2724px;
  margin: auto;
  padding: 2rem;
  &__header {
    font-size: 60px;
    font-style: italic;
    padding-bottom: 10px;
  }
  @media (max-width: 700px) {
    & {
      padding: 0;
    }
  }
}

.project {
  &__header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    font-family: sans-serif;

    span {
      border-top: 1px solid black;
      padding: 1rem;
      font-size: 30px;
      text-align: center;
    }
  }
  &__infos {
    margin-top: 1rem;
    &--name {
      position: relative;
      font-size: 30px;
      font-family: sans-serif;
      display: flex;
      align-items: center;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    @media (max-width: 700px) {
      flex-direction: column;
      img {
        width: 100% !important;
        right: 0 !important;
      }
    }
    img {
      width: 70%;
      height: 600px;
      object-fit: cover;
      position: absolute;
      right: 5vw;
      top: 1rem;
    }
  }
  &__links {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
      color: white;
      &::after {
        border: 1px solid black;
      }
      &::before {
        background-color: black;
      }
    }
  }
  &__tags {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 700px) {
    &__tags {
      flex-direction: row;
      gap: 5px;
    }
  }
}

.coolCirculButton {
  position: relative;
  display: inline-block;

  .textcircle {
    display: block;
    width: 250px;
    animation: rotat 10s linear infinite;

    text {
      font-size: 32px;
      text-transform: uppercase;
      fill: yellowgreen;
      //   filter: invert(1);
    }
  }
  @keyframes rotat {
    to {
      transform: rotate(-360deg);
    }
  }
  &:hover {
    text {
      font-weight: 500;
    }
    .eye {
      &__iris {
        opacity: 0;
      }
      &__lashes-up {
        opacity: 0;
      }
      &__inner {
        opacity: 0;
      }
      &__lashes-down {
        opacity: 1;
      }
    }
  }
}

.eye {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__outer,
  &__inner,
  &__lashes-up,
  &__lashes-down {
    stroke: black;
    fill: none;
    stroke-width: 1.5px;
  }
  &__lashes-down {
    opacity: 0;
  }
}

.collfunnyLink {
  position: relative;
  font-family: sans-serif;
  svg {
    position: absolute;
    bottom: -5px;
    left: 0;
    stroke-width: 1px;
    fill: black;
    path {
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
  }
  &:hover {
    svg path {
      transform: scale3d(1, 1, 1);
    }
  }
}
